            body{
                height: 100vh;
                background: linear-gradient(to bottom right, #0033cc 0%, #ff99cc 100%);
                font-family: 'Calibri';
                display: grid;
                grid-template-columns: 100%;
                justify-items: center;
                align-items:center;
            }
            #main{
                width:25%;
                display: grid;
                grid-template-columns: 80%;
                justify-content: center;
                align-items: center;
                background-color: white;
                border-radius: 3px;
                padding: 50px 10px 50px 10px ;
            }
            h1{
                text-align: center;
                margin: 0;
            }
            ul{
                padding-left: 0;
            }
            li{
                list-style: none;
                width: 100%;
            }
            input{
                margin: 0;
                width: 95%;
                border:1% solid grey;
                padding:2%;
                margin: 10px 0;
                outline: 0;
                
            }
            button{
                width: 100%;
                padding:10px 0;
                border:0;
                border-radius: 3px;
                color:white;
                background-color:#f72665;
            }
            #nameerror,#emailerror,#passwderror,#passwd2derror{
                    color:red;
                    display: none;
                    font-size: smaller;
                    margin: 0px;
            }
            @media only screen and (max-width: 800px) {
                #main{
                    width:50%;
                    display: grid;
                    grid-template-columns: 80%;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    border-radius: 3px;
                    padding: 50px 10px 50px 10px ;
                }
            }
            @media only screen and (max-width: 400px) {
                #main{
                    width:80%;
                    display: grid;
                    grid-template-columns: 80%;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    border-radius: 3px;
                    padding: 50px 10px 50px 10px ;
                }
            }